<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link rel="shortcut icon" href="../../assets/ico/favicon.png">

	    <title>RELab</title>

	    {% load staticfiles %}
	    <link rel="icon" href="{% static "img/elevator_24x24.png" %}" type="image/x-icon" />

	    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.9.1.js" %}"></script>
	    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery-ui.js" %}"></script>
	    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery.ui.touch-punch.js" %}"></script>
	    <script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.js" %}"></script>

	    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">

	    <style>
	      body {
	        padding-top: 50px; /* 50-60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>

	</head>

  	<body>

		<div class="navbar navbar-inverse navbar-fixed-top">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">&nbsp;&nbsp;RELab</a>
	        </div>
	    </div>

	    <div id="main_panel" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    	<div id="panel_name" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	    		<h3><p class="text-center text-muted">Remote Elevator Laboratory</p></h3>
	    	</div>
	    	<hr>
		    <div id="panel_1" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		    	<img src="{% static "img/elevator_controls_up.png" %}" class="img-responsive"/>
		    	<a id="panel_1_button_2"><img src="{% static "img/elevator_controls_2.png" %}" class="img-responsive"/></a>
		    	<a id="panel_1_button_1"><img src="{% static "img/elevator_controls_1.png" %}" class="img-responsive"/></a>
		    	<a id="panel_1_button_0"><img src="{% static "img/elevator_controls_0.png" %}" class="img-responsive"/></a>
		    	<a id="panel_1_button_RESET"><img src="{% static "img/elevator_controls_RESET.png" %}" class="img-responsive"/></a>
		    	<img src="{% static "img/elevator_controls_down.png" %}" class="img-responsive"/>
		    </div>
		    <div id="panel_2" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		    	<img src="{% static "img/image_example_front.png" %}" class="img-responsive"/>
		    </div>
		    <div id="panel_3" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		    	<img src="{% static "img/image_example_rear.png" %}" class="img-responsive"/>
		    </div>
		    <div id="panel_4" class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
		    	<div id="panel_4_buttons" class="col-xs-6 col-sm-6 col-md-6 col-lg-4">
		    		<div class="btn-group-vertical">
		    			<br><br>
				        <button id="button_2" type="button" class="btn"><img src="{% static "img/button_down.png" %}" class="img-responsive"/></button>
				        <br><br>
				        <button id="button_1_2" type="button" class="btn"><img src="{% static "img/button_up.png" %}" class="img-responsive"/></button>
				        <br>
				        <button id="button_1_0" type="button" class="btn"><img src="{% static "img/button_down.png" %}" class="img-responsive"/></button>
				        <br><br>
				        <button id="button_0" type="button" class="btn"><img src="{% static "img/button_up.png" %}" class="img-responsive"/></button> 
				      </div>
		    		</div>
		    	<div id="panel_4_image" class="col-xs-6 col-sm-6 col-md-6 col-lg-8">
		    		<img src="{% static "img/elevator_front.png" %}" class="img-responsive"/>
		    	</div>
		    </div>
	    </div><!-- /.container -->
	</body>
</html>


<script>
$("a[id=panel_1_button_2]").click(function() {
   $.post("/RELab", { command: "PUL6" } );
   $("a[id=panel_1_button_2]").find('img').attr('src', "{% static "img/elevator_controls_2_ON.png" %}");
   setTimeout(function() {
      $("a[id=panel_1_button_2]").find('img').attr('src', "{% static "img/elevator_controls_2.png" %}");
   } , 1000);
});

$("a[id=panel_1_button_1]").click(function() {
   $.post("/RELab", { command: "PUL5" } );
   $("a[id=panel_1_button_1]").find('img').attr('src', "{% static "img/elevator_controls_1_ON.png" %}");
   setTimeout(function() {
      $("a[id=panel_1_button_1]").find('img').attr('src', "{% static "img/elevator_controls_1.png" %}");
   } , 1000);
});

$("a[id=panel_1_button_0]").click(function() {
   $.post("/RELab", { command: "PUL4" } );
   $("a[id=panel_1_button_0]").find('img').attr('src', "{% static "img/elevator_controls_0_ON.png" %}");
   setTimeout(function() {
      $("a[id=panel_1_button_0]").find('img').attr('src', "{% static "img/elevator_controls_0.png" %}");
   } , 1000);
});

$("a[id=panel_1_button_RESET]").click(function() {
   $.post("/RELab", { command: "RESET" } );
   $("a[id=panel_1_button_RESET]").find('img').attr('src', "{% static "img/elevator_controls_RESET_ON.png" %}");
   setTimeout(function() {
      $("a[id=panel_1_button_RESET]").find('img').attr('src', "{% static "img/elevator_controls_RESET.png" %}");
   } , 1000);
});

$("button[id=button_2]").click(function() {
   $.post("/RELab", { command: "PUL3" } );
   button = $(this);
   image_button = button.find('img')
   image_button.attr('src', "{% static "img/button_down_ON.png" %}")
   setTimeout(function() {
      image_button.attr('src', "{% static "img/button_down.png" %}")
    } , 1000);     
});

$("button[id=button_1_2]").click(function() {
	$.post("/RELab", { command: "PUL1" } );
   button = $(this);
   image_button = button.find('img')
   image_button.attr('src', "{% static "img/button_up_ON.png" %}")
   setTimeout(function() {
      image_button.attr('src', "{% static "img/button_up.png" %}")
    } , 1000);     
});

$("button[id=button_1_0]").click(function() {
	$.post("/RELab", { command: "PUL2" } );
   button = $(this);
   image_button = button.find('img')
   image_button.attr('src', "{% static "img/button_down_ON.png" %}")
   setTimeout(function() {
      image_button.attr('src', "{% static "img/button_down.png" %}")
    } , 1000);     
});

$("button[id=button_0]").click(function() {
	$.post("/RELab", { command: "PUL0" } );
   button = $(this);
   image_button = button.find('img')
   image_button.attr('src', "{% static "img/button_up_ON.png" %}")
   setTimeout(function() {
      image_button.attr('src', "{% static "img/button_up.png" %}")
    } , 1000);     
});
</script>